:root {
    --background-rgb: 0 0 0 / 0%;
    --background-light-rgb: 0 0 0 / 0%;

    --border-rgb: 0 0 0 / 70%;
    --border: 1px solid rgb(var(--border-rgb) / 0%);

    --hyperplexed-main-rgb: 0 0 0/ 0%;
    --hyperplexed-main-light-rgb: 0 0 0 / 0%;
    --hyperplexed-secondary-rgb: 0 0 0 / 0%;

    --card-size: 100vw;
    --card-height: 100lvh;
    --font-size: 0/75vw;
    --logo-size: calc(var(--card-height) * 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-track {
    position: absolute;
    top: 0;
    height: 110lvh;
    width: var(--card-size);
    display: flex;
    align-items: center;
}

.card-wrapper {
    width: 100%;
    min-height: 110lvh;
    height: 100%;
    position: relative;
    padding-bottom: 20lvh;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110lvh;
    position: relative;
    margin: 0rem;
}

.card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30lvh;
    z-index: 11;
}

.card-image>img {
    width: var(--logo-size);
    filter: drop-shadow(-1vw 1vw 2vw rgba(0, 0, 0, 0.5));
}

.card-gradient {
    height: 100%;
    width: 100%;
    background: radial-gradient(rgb(var(--background-light-rgb)) 40%,
            rgb(var(--hyperplexed-main-rgb)) 50%,
            rgb(var(--hyperplexed-main-light-rgb)),
            rgb(var(--hyperplexed-secondary-rgb)));
    pointer-events: none;
    z-index: 3;
}

.card-letters {
    --x: 0px;
    --y: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    max-height: 110lvh;
    max-width: 100vw;
    width: 100%;
    color: white;
    overflow: hidden;
    font-family: monospace;
    font-size: var(--font-size);
    pointer-events: none;
    font-weight: 500;
    line-height: 1em;
    word-wrap: break-word;
    opacity: 0;
    transition: all 400ms;
    filter: drop-shadow(0px 0px 20px rgb(0 0 0 / 20%));
    -webkit-mask-image: radial-gradient(calc(var(--card-size) * 0.8) circle at var(--x) var(--y),
            rgb(255 255 255 / 70%) 20%,
            rgb(255 255 255 / 20%),
            transparent);
    mask-image: radial-gradient(calc(var(--card-size) * 0.8) circle at var(--x) var(--y),
            rgb(255 255 255 / 70%) 20%,
            rgb(255 255 255 / 20%),
            transparent);
    scale: 1.03;
}

.card:hover .card-letters {
    opacity: 0.3;
}

@media(max-width: 600px) {
    :root {
        --logo-size: calc(var(--card-height) * 0.4);
    }
}