footer {
    background-color: #e91e6333;
    background-image: radial-gradient(farthest-corner at 0% -150%, #32393900 0%, #102121e1 120%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
    filter: drop-shadow(-6px -3px 12px  rgba(0,0,0,0.3));
    margin: 0;
    padding: 2em 0;
    min-height: 30lvh;
    clip-path: polygon(0px 0%, 100% 50%, 100% 100%, 0px 100%);
    background-blend-mode: difference;
}
.footer-ico {
    @apply hover:bg-white/40 rounded-full bg-transparent fill-black hover:fill-white;
    transition: all 0.5s ease-in;
}
.footer-ico:hover {
    filter: drop-shadow(0em 0.1em 0.5em rgba(202, 91, 47, 0))
}

footer > div:first-child {
    margin-top: 7em;
}